/* .services * {
    border: red 1px solid;
} */

.services {
    text-align: center;
    margin: 3rem auto;
}

.services--span {
    font-size: 1.5rem;
    color: var(--spanColor);
    font-family: var(--span);
    text-transform: uppercase;
}

.services--title {
    font-size: 2.5rem;
    color: var(--titleColor);
    margin: 0 0 2rem 0;
    font-family: var(--title);
}

.services__grid {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    width: 80%;
    min-width: 60rem;
    margin: auto;
}

.services__grid__first {
    width: 100%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}

.services__grid__first .service {
    box-shadow: var(--serviceShadowLeft);
}

.services__grid__image {
    width: 100%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}

.services__grid__image--img {
    margin: auto;
    height: auto;
    width: 100%;
}

.services__grid__last{
    width: 100%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}

.services__grid__last .service {
    box-shadow: var(--serviceShadowRight);
}

@media (max-width: 1366px) {
    .services__grid {
        width: 95%;
        min-width: 0;
    }
}

@media (max-width: 962px) {
    .services__grid {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .services__grid__image {
        grid-area: 1 / 1 / 1 / 3;
        width: 15rem;
    }
}

@media (max-width: 480px) {
    .services__grid__last .service {
        flex-direction: column-reverse;
    }
}