/* .services * {
    border: red 1px solid;
} */

.services {
    text-align: center;
    margin: 3rem auto;
}

.services--span {
    font-size: 1.5rem;
    color: var(--spanColor);
    font-family: var(--span);
    text-transform: uppercase;
}

.services--title {
    font-size: 2.5rem;
    color: var(--titleColor);
    margin: 0 0 2rem 0;
    font-family: var(--title);
}

.services__grid {
    width: 80%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.services__grid__services {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
}

.services__grid__services .service {
    box-shadow: var(--serviceShadow);
    background-color: rgba(255, 255, 255, 0.85);
}


@media (max-width: 1366px) {
    .services__grid {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .services__grid__services {
        gap: 0.5rem;
    }
}