
.speciality {
    width: 80%;
    margin: auto;
}

.speciality__head {
    text-align: center;
}

.speciality__head--span {
    color: var(--colorAccent);
    font-family: var(--fontTitle);
    font-size: 1.5rem;
}

.speciality__head--title {
    font-size: 2.5rem;
    color: var(--colorText);
    margin: 0 0 2rem 0;
    font-family: var(--fontTitle);
}

.speciality__data {
    display: flex;
}

.speciality__data__body--text {
    font-family: var(--fontText);
    color: var(--colorText);
}

.speciality__data__body--button {
    margin: 2rem 6rem;
    padding: 1rem 3rem;
    background: var(--gradient);
    color: var(--colorNeutral);
    text-transform: uppercase;
    font-family: var(--fontNavigation);
    border-radius: 4px;
    box-shadow: var(--shadowButton);
    text-align: center;
    /* Centrar horizontalmente */
    display: flex;
    justify-content: center;    
    /* Centrar verticalmente */
    align-items: center;
}

.speciality__data__body--button:is(:hover, :focus) {
    background: var(--gradientInv);
}


/* To select only the left and right version of data display */
.speciality__data.left {
    flex-direction: row;
}
.speciality__data.right {
    flex-direction: row-reverse;
}

@media (max-width: 962px) {
    .speciality__data.left {
        flex-direction: column-reverse
    }
    .speciality__data.right {
        flex-direction: column-reverse
    }
}


/* Images */
.speciality__data__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

/* To change the background if it has or not background */
.speciality__data__image--img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: auto;
}

.speciality__data__image--img.noBackground {
    filter: drop-shadow(10px 0px 5px #c9c9c9);
}

.speciality__data__image--img.background {
    filter: drop-shadow(6px 6px 0px var(--colorSecondary));
    
}

@media (max-width: 1366px) {
    .speciality {
        width: 95%;
    }
}

@media (max-width: 962px) {
    .speciality {
        margin-top: 2rem;
    }
    .speciality__data__image--img {
        width: auto;
        height: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .speciality__data__image--img {
        width: 90%;
        height: auto;
        margin: auto;
    }
}