.speciality {
    width: 80%;
    margin: auto;
}

.speciality__head {
    text-align: center;
}

.speciality__head--span {
    color: var(--spanColor);
    font-family: var(--span);
    font-size: 1.5rem;
}

.speciality__head--title {
    font-size: 2.5rem;
    color: var(--titleColor);
    margin: 0 0 2rem 0;
    font-family: var(--title);

}

.speciality__data {
    display: flex;
}

/* To select only the left and right version of data display */
.speciality__data.left {
    flex-direction: row;
}
.speciality__data.right {
    flex-direction: row-reverse;
}


.speciality__data__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.speciality__data__image--img {
    width: 100%;
    height: auto;
}