/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  background-color: var(--colorNeutral);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  /* Adjust the width as needed */
  max-width: 600px;
  /* Set a maximum width if desired */
}



.modal-button {
  padding: 0.5rem 1rem;
  background-color: var(--colorSecondary);
  color: var(--colorNeutral);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
}

.modal-button:hover {
  background-color: var(--colorSecondaryHelper);
}

.modal-button--close {
  padding: 0.5rem 1rem;
  background-color: var(--colorSecondary);
  color: var(--colorNeutral);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  margin: auto;
}

.modal-button--close:hover {
  background-color: var(--colorSecondaryHelper);
}

.modal__head {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  margin: auto;
  box-shadow: var(--shadowBar);
  padding: 0 6px;
}

.modal--title {
  color: var(--colorAccent);
  font-family: var(--fontTitle);
  font-size: 1.5rem;
}

.modal--text__container {
  max-height: 300px;
  overflow-y: auto;
}
.modal--text {
  color: var(--colorText);
  font-family: var(--fontText);
  padding: 1rem;
  text-align: left;
}

.modal--icon {
  height: 4rem;
  margin: auto;
}

@media (max-width: 480px) {
  .modal-content {
    margin: auto;
  }

  .modal--title {
    font-size: 1rem;
  }

  .modal__container {
    margin: auto auto 1rem auto;
  }
}

/* Estilo para bloquear el desplazamiento del cuerpo */
.body-no-scroll {
  overflow: hidden;
}