.service {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--sky);
    border-radius: 8px;
    margin: 0.5rem auto;
    height: 10rem;
}

.service__icon {
    margin: 0 1rem;
}

.service__icon--img {
    height: auto;
    width: auto;
}



.service__info--title {
    font-family: var(--title);
    color: var(--spanColor);
    font-size: 1.5rem;
}

.service__info--text {
    font-family: var(--text);
    color: var(--textColor);
    text-align: left;
}

@media (max-width: 1366px) {
    .service__icon--img {
        height: auto;
        width: 100%;
    }

    .service__info--title {
        font-size: 1.5rem;
        margin: 0;
    }
}

@media (max-width: 962px) {

    .service__info--title {
        font-size: 1rem;
        margin: 0;
    }

    .service {
        flex-direction: column;
        height: 18rem;
        justify-content: center;
    }

    .service__icon {
        max-width: 64px;
    }
}