:root{

    --nucleo: #037588;

    --white: #fff;
    --sky: #0096e7;
    --lapislazuli: #527dfe;
    --royal: #365ed9;
    --background: #0E254E;
    --backgroundTransparent: #0e254e63;
    --textColor: #0E254E;
    --spanColor: #254cc1;
    --titleColor: #0E254E;

    --gradient: linear-gradient(90deg, var(--sky) 0%, var(--royal) 100%);
    --gradientInv: linear-gradient(90deg, var(--royal) 0%, var(--sky) 100%);


    /* font-family */
    --social: roboto-regular;
    --navLink: roboto-bold;
    --span: poppins-SemiBold;
    --title: poppins-bold;
    --text: lato-regular;


    /* helpers */
    --transition: 0.25s ease;

    /* shadows */
    --button: 0px 10px 30px #527dfe63;
    --navBar: 0px 5px 18px -1px #0e254e63;
    --serviceShadowLeft: -10px 0px 10px #527dfe63;
    --serviceShadowRight: 10px 0px 10px #527dfe63;
}


/* FONTS */
@font-face {
    font-family: poppins-bold;
    src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppins-SemiBold;
    src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: lato-regular;
    src: url(./assets/fonts/Lato/Lato-Regular.ttf);
}



html {
    font-size: 125%; /* 1rem=20px */
    box-sizing: border-box;
    width: 100%;
    margin: auto;
}

@media (max-width: 1366px) {
    html {
        font-size: 112.5%; /* 1rem=18px */
        }
}

@media (max-width: 480px) {
    html {
    font-size: 100%; /* 1rem=16px */
    }
}

body {
    font-size: 1rem;
    line-height: 1.5;

}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}
