:root{

    /* COLORS */
    --colorPrimary: #0E254E;
    --colorPrimaryHelper: #124596;
    --colorSecondary: #365ed9;
    --colorSecondaryHelper: #0096e7;
    --colorAccent: #254cc1;
    --colorAccentHelper: #527dfe;
    --colorNeutral: #fff;
    --colorNeutralHelper: #F9F9F9;
    --colorText: #0E254E;

    /* GRADIENTS */
    --gradient: linear-gradient(90deg, var(--colorSecondaryHelper) 0%, var(--colorSecondary) 100%);
    --gradientInv: linear-gradient(90deg, var(--colorSecondary) 0%, var(--colorSecondaryHelper) 100%);

    /* BOX-SHADOW */
    --shadowButton: 10px 10px 30px -10px var(--colorAccent);
    --shadowBar: 0px 5px 15px -5px var(--colorPrimary);

    /* helpers */
    --transition: 0.25s ease;

    /* font-family */
    --fontNavigation: roboto-regular;
    --fontButton: roboto-regular;
    --fontSubtitle: poppins-SemiBold;
    --fontTitle: poppins-bold;
    --fontText: lato-regular;

    /* font-size */
    --sizeOne: 1rem;
    --sizeTwo: 2rem;
}


/* FONTS */
@font-face {
    font-family: poppins-bold;
    src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppins-SemiBold;
    src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: lato-regular;
    src: url(./assets/fonts/Lato/Lato-Regular.ttf);
}



html {
    font-size: 125%; /* 1rem=20px */
    box-sizing: border-box;
    width: 100%;
    margin: auto;
}

@media (max-width: 1366px) {
    html {
        font-size: 112.5%; /* 1rem=18px */
        }
}

@media (max-width: 480px) {
    html {
    font-size: 100%; /* 1rem=16px */
    }
}

body {
    font-size: 1rem;
    line-height: 1.5;

}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

/* SCROLL CSS */

html {
    /* this makes the link move you to the exact place */
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }
  
  html::-webkit-scrollbar {
    width: 0.6rem;
  }
  
  html::-webkit-scrollbar-track {
    background: var(--colorNeutral);
  }
  
  html::-webkit-scrollbar-thumb {
    background: var(--colorPrimary);
    border-radius: 8px;
    border: 2px solid var(--colorPrimaryHelper);
  }
  
  @media (max-width: 480px) {
    html::-webkit-scrollbar {
      width: 0; 
    }
  }
  