.carousel {
    width: 100%;
    margin: auto;
}

.carousel__image__main {
    width: 100%;
    height: auto;
    margin: auto;
}

.carousel__image__main--src {
    overflow: hidden;
    object-fit: cover;
    height: 12rem;
    width: 100%;
    border: 2px outset var(--colorAccent);
}

.carousel__image__main--src--none {
    display: none;
}

.carousel__image__select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.carousel__image__select--option {
    width: 100%;
    height: auto;
}

.carousel__image__select--option--src {
    overflow: hidden;
    object-fit: cover;
    height: 6rem;
    width: 100%;
    border: 2px outset var(--colorAccent);
    
}