.banner {
    background-color: var(--colorPrimary);
    width: 100%;
    margin-top: 8rem;
}

.banner__grid {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    gap: 1rem;
}

/* image */
.banner__image {
    width: 100%;
    height: 20rem;
}


.banner__image--background {
    /* el flex centra la imagen */
    display: flex;
    background-color: var(--colorSecondaryHelper);
    margin: 2rem auto 0 auto ;
    border-radius: 30% 90% 5% 5%;
    width: 100%;
    height: 18rem;
}

.banner__image--src {
    width: auto;
    height: 25rem;
    margin: -7rem auto 0 auto; /* Aplicamos un margen negativo en la parte superior */
}

/* Data */

.banner__data {
    width: 100%;
    margin: auto;
}

.banner__data--span {
    font-size: 1.5rem;
    margin: 0;
    color: var(--colorSecondaryHelper);
    font-family: var(--fontSubtitle);
}

.banner__data--text {
    font-size: 2rem;
    margin: 0;
    color: var(--colorNeutral);
    font-family: var(--fontSubtitle);
}

.banner__data--whatsapp {
    margin: 2rem 6rem;
    padding: 1rem 3rem;
    background: var(--gradient);
    color: var(--colorNeutral);
    text-transform: uppercase;
    font-family: var(--fontNavigation);
    border-radius: 4px;
    box-shadow: var(--shadowButton);
    text-align: center;
    /* Centrar horizontalmente */
    display: flex;
    justify-content: center;    
    /* Centrar verticalmente */
    align-items: center;
}

.banner__data--whatsapp:is(:hover, :focus) {
    background: var(--gradientInv);
}

@media (max-width: 1366px) {
    .banner__grid {
        width: 95%;
    }
    .banner__data--span {
        font-size: 1rem;
    }

    .banner__data--text {
        font-size: 1.5rem;
    }

    .banner__data--whatsapp {
        margin: 1rem;
        padding: 1rem;
    }

    @media (max-width: 962px) {
        .banner__grid {
            grid-template-columns: 1fr;
        }

        .banner__image--background {
            border-radius: 50% 50% 8px 8px;
            width: 80%;
        }

        .banner__data {
            text-align: center;
            width: 80%;
        }
    }

    @media (max-width: 480px) {
        .banner__data {
            width: 95%;
        }
    }
}
