

.topSocialBar {
    background-color: var(--colorPrimary);
    margin: auto;
    width: 100%;
}

.topSocialBar__bar {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.topSocialBar__bar__contactList {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.topSocialBar__bar__contactList--item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

}
.topSocialBar__bar__contactList--item a {
    color: var(--colorNeutral);
    font-family: var(--social);
    font-size: 1rem;
    transition: var(--transition);
}

.topSocialBar__bar__contactList--item a:is(:hover, :focus) {
    color: var(--colorAccentHelper);
}

.topSocialBar__bar__contactList--icon {
    height: 1rem;
    width: auto;
    fill: var(--colorAccentHelper);

}



.topSocialBar__bar__socialList {
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0;
}

.topSocialBar__bar__socialList--item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topSocialBar__bar__socialList--icon {
    height: 1rem;
    width: auto;
    fill: var(--colorNeutral);
    stroke: var(--colorNeutral);
    transition: var(--transition);
}

.topSocialBar__bar__socialList--icon:is(:hover, :focus) {
    fill: var(--colorAccentHelper);
    stroke: var(--colorAccentHelper);
}
@media (max-width: 1366px) {

}

@media (max-width: 962px) {
    .topSocialBar__bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
}

@media (max-width: 480px) {
    .topSocialBar {
        display: none;
    }
}